

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome to ShareDoc</h1>
    <p>With sharedoc you can easily create share documents, chat with your colleagues, realtime document presentation.</p>
    <p>
      <%= link_to 'Sign Up', new_user_registration_path,  :class => 'btn btn-primary btn-large' %>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Multiple Formats</h2>
      <p>You can share most common type of documents - docx, pdf , ppt, odt etc. to name a few </p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    <div class="span4">
      <h2>Group Chat</h2>
      <p>Low latency group chat. You can even send personal messages to a select few in the session.</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
    <div class="span4">
      <h2>Audio/Video and Desktop Sharing</h2>
      <p>Coming soon - Audio/Video features and desktop sharing</p>
      <p><a class="btn" href="#">View details »</a></p>
    </div>
  </div>

  <hr>


