<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_url %>">Sharedoc</a>
      <ul class="nav">
            <li class="active'><a>Test</a></li>
      </ul>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a>Test</a></li>
          </ul>
        </li>
      </ul>
      <form method="get" id="sform" action="http://www.google.com/search" class="navbar-search pull-right">
        <div>
          <input type="text" id="q" value="" name="q"  class="search-query" placeholder="Search">
          <input type="hidden" name="sitesearch" value="HHH">
        </div>
      </form>
    </div>
  </div>
</div>
