<%= content_for :content do %>
    <div class="container">
    <div class="row">
    <div class="span4 offset4">
        <%= yield %>
    </div>
        </div>
        </div>
<% end %>

<%= render :template => 'layouts/application' %>
