<%= content_for :content do %>
    <div class="container">
        <div class="row"  style="margin-top: 20px">
            <div class="span6 offset3 well">
                <h2 class="box-title"><%= yield :box_title %></h2>
                <%= yield %>
            </div>
        </div>
    </div>
<% end %>

<%= render :template => 'layouts/application' %>
